<ion-list>
    <ion-item>
        View Chef Details
    </ion-item>

    <ion-item>
        Chef Special Dishes
    </ion-item>

    <ion-item>
        Contact
    </ion-item>

    <ion-item>
        More Items
    </ion-item>

    <ion-item>
        Share Profile
    </ion-item>

    <ion-item>
        <ion-label>Favorites</ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item color="danger" (click)="Close()">
        <ion-label>Close</ion-label>
    </ion-item>
</ion-list>

