<ion-list>
  <ion-item>
      <ion-label>
        view Chef Details
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Chef's special Details
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Contact Chef
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      share Dish
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Favourite
    </ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label color="danger" (click) = "Close()">
      Close
    </ion-label>
  </ion-item>


</ion-list>
