ion-header{
    ion-icon{
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }

    #notification-badge-msg {
        background-color: rgb(13, 104, 48);
        position: absolute;
        top: 5px;
        right: 95px;
       color: white;
        z-index: 111;
    }

    #notification-badge {
        background-color: rgb(54, 16, 223);
        position: absolute;
        top: 5px;
        right: 50px;
        color: white;
        z-index: 111;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }


}


ion-content{
    // --background: #fff;

    .top {
        box-shadow: rgba(167, 167, 167, 0.15) 1.95px 1.95px 2.6px;
        height: auto;
        display: flex;
        justify-content:center;
        align-items:center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    ion-segment{
        margin-top: 10px;
        border: 1px solid #f14b3a;

        ion-segment-button{
            --background-checked: #f14b3a;
            --color-checked: #fff;
            --indicato-color:#f15b3a;
        }
    }
    #date {
        padding-left: 20px;
    }

    .upperBox{
        background-color: rgb(209, 190, 190);
        margin-top:10px;
        height: auto;
        display: grid;
        grid-template-columns: 40% 35% 15% 10%;
        grid-template-rows: 15% 35% 35% 15%;
        gap: 5px 5px;
        grid-template-areas: 'image title title menu' 'image orderId orderId orderId' 'image amount status status' 'image time edit edit';
        .image {
            grid-area: image;
            #imgProd{
                padding: 10px;
                border-radius: 5px;
                height: auto;
                width: 100%;
            }
        }

        .title {
            color: black;
            grid-area: title;
            h3{
                font-size: 16px;
            }
        }
        .menu{
            color: black;
            grid-area: menu;
            margin-left: 10px;
            justify-content: center;
        }

        .orderId{
            grid-area: orderId;
            p{
                color: gray;
            }
        }

        .amount{
            grid-area: amount;
            align-self: start;
            justify-self: start;
            margin-top: -25px;
            p{
                color: black;
                font-weight: bold;
            }
        }

        .status{
            grid-area: status;
            p{
                margin-right: 20px;
                margin-top: -8px;
                font-size:14px;
                background-color: #e4f4eb;
                padding: 5px;
                text-align: center;
                color: green;
            }
        }

        .time{
            grid-area: time;
            p{
                color: #303030;
                margin-top: -30px;
            }
        }

        .edit {
            grid-area:edit;
            margin-top: -30px;
            .btn{
                font-size:17px;
                background: #f15b3a;
                padding: 5px;
                padding-right: 10px;
                padding-left: 10px;
                text-align: center;
                color: #fff;
                border-radius: 5px;
            }
        }
    }
}
