ion-header{
    ion-icon{
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }

    #notification-badge-msg {
        background-color: rgb(13, 104, 48);
        position: absolute;
        top: 5px;
        right: 95px;
        color: white;
        z-index: 111;
    }

    #notification-badge {
        background-color: rgb(54, 16, 223);
        position: absolute;
        top: 5px;
        right: 50px;
        color: white;
        z-index: 111;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }

    
}