<ion-header>
  <ion-toolbar color ='danger'>
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color ='light' defaultHref="search-chef"> </ion-back-button>
    </ion-buttons>
    <ion-title>Payments History</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notification-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notification-badge">5</ion-badge>
    <img slot="end" src="https://cdn-icons-png.flaticon.com/512/219/219983.png">
  </ion-toolbar>
</ion-header>

<ion-content>
 <div *ngFor="let payment of payment">
  <p id="date">{{payment}}</p>
 </div>
</ion-content>
